.carousel{
    width:100%;
    height:415px;
    background:$color-gray;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: $shadow ;
    position: relative;
    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__button{
        border: none;
        background: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all $duration ease-in-out;
        padding: 0;
        &--left{
            left: 25px;
            svg{
                transform:rotate(180deg);
            }
            &:hover{
                left: 15px;
            }

        }
        &--right{
            right: 25px;
            &:hover{
                right: 15px;
            }
        }
        svg{  
            filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
        }

    }
    &__number{
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 25px;
        font-size: $font-size--4;
        font-weight: $font-weight-medium;
        color:$color-light;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .carousel{
        height:255px;
        border-radius: 10px;
        &__image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__button{
            &--left{
                left: 5px;
                transform: translateY(-50%) scale(0.25) translateX(-150%);
                &:hover{
                    left: 5px;
                }
            }
            &--right{
                transform: translateY(-50%) scale(0.25) translateX(150%);
                right: 5px;
                &:hover{
                    right: 5px;
                }
            }
        }
        &__number{
            display: none;
        }
    }
}