.collapse{
    background:$color-light ;
    border-radius: 10px;
    height: fit-content;
    &__button{
        background:$color-main;
        border: none;
        border-radius: 10px;
        color: $color-white;
        font-weight: $font-weight-medium ;
        width: 100%;
        padding: 0 35px 0 20px;
        cursor: pointer;
        display: flex;
        justify-content:space-between;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        font-size:$font-size--5;
    }
    &__desc{
        color:$color-main;
        padding: 30px 20px;
        margin: 0;
        font-size:$font-size--5;
        ul{
            display: flex;
            flex-direction: column;
            gap: 4px;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}

@media (max-width: 768px) {
    .collapse{
        &__button{
            font-size:$font-size--2;
            padding: 0 10px 0 15px;
            border-radius: 5px;
            svg{
                transform: scale(0.6);
            }
        }
        &__desc{
            padding: 15px 10px;
            font-size:$font-size--1;
        }
    }
}
