footer{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background: $color-black;
  flex-direction: column;
  gap: 30px;
  padding: 65px 0 30px 0;
  p{
    color: $color-white;
    font-size: $font-size--5;
    margin: 0;
  }
}

@media (max-width: 768px) {
  footer{
    p{
      font-size: $font-size--1;
    }
  }
}