header{
  display:flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
  h1{
    margin: 0;
  }
  nav{
    display: flex;
    align-items: center;
    gap: 60px;
    a{
      color: $color-main;
      font-weight:$font-weight-medium ;
      text-decoration: none;
      transition: all $duration ease-in-out;
      font-size: $font-size--5;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  header{
    margin: 20px 0 0 0;
    h1 img{
      width:145px;
      height: 47px;
    }
    nav{
      gap: 10px;
      a{
        font-size: $font-size--1;
        text-transform: uppercase;
      }
    }
  }
}